.DS_Store
/* /dist */
/* /staticfiles */
#media
#__pycache__
*.pyc

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#archivos
todo.wiki